.Agent-Tile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    ". header header"
    "agentImage agentName agentName"
    ". randomBtn clearBtn ";
  position: relative;
  width: 400px;
  height: 100px;
  background-color: #008A97;
  border-radius: 5px;
  margin-bottom: 10px;
}

.Heading {
  grid-area: header;
  margin-top: 10px;
  text-align: center;
}

.Agent-Image {
  grid-area: agentImage;
  width: 60px;
  margin-left: 25px;
  margin-top: -5px;
}

.Agent-Name{
  grid-area: agentName;
  font-size: 30px;
  margin-top: 13px;
  text-align: center;
}

.Random{
  grid-area: randomBtn;
  border: none;
  margin-right: 20px;
  font-size: 10px;
  margin-top: -10px;
  margin-bottom: 3px;
}

.Clear{
  grid-area: clearBtn;
  border: none;
  font-size: 10px;
  margin-right: 20px;
  margin-top: -10px;
  margin-bottom: 3px;
}