.Map-Selector{
  display: flex;
  position: relative;
  justify-content: center;
}

.Map-Items{
  z-index: 1;
  position: absolute;
  top: 50px;
  left: 44%;
  margin-top: 10px;
  text-align: center;
}

.Map-Title{
  font-size: 30px;
  color: #dc3d4b;
}

.Map-Name{
  font-size: 40px;
  left: 100px;
}

.Map-Image{
  z-index: 0;
  width: 100%;
  height: auto;
}

.Map-Button{
  font-family: 'VALORANT', sans-serif;
  border: none;
  background-color: #04b3e5;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.Attacking-Agents {
  position: absolute;
  margin-top: 230px;
  margin-right:920px;
  z-index: 3;
}